<div>
  <div style="display:inline-block;">
    <md-input placeholder="Title" [(ngModel)]="articalTitle"></md-input>
  </div>
  <div style="display:inline-block;">
    <select name="blog-type" id="blog-type" [(ngModel)]="category">
      <option value="frontend">frontend</option>
      <option value="python">python</option>
      <option value="golang">golang</option>
      <option value="C\C++">C\C++</option>
    </select>
  </div>
  <div style="display:inline-block;">
    <select name="content-type" id="content-type" [(ngModel)]="contentType">
      <option value="html">html</option>
      <option value="markdown">markdown</option>
      <option value="text">text</option> 
    </select>
  </div>
  <div style="display:inline-block;">
    <button md-raised-button color="primary" (click)="onSaveArtical()">Save</button>
  </div>
</div>
<div>
  <div>
    <textarea name="blog-content" id="blog-content" cols="98%" rows="10" [(ngModel)]="blogContent"></textarea>
  </div>
  <div>
    <div [innerHTML]="blogContent | blog:contentType"></div>
  </div>
</div>
