<div>
  <md-card class="artial-card">
    <md-card-subtitle>
      <span>类别：{{artical.category}}</span>
      <span>创建日期：{{artical.createdAt}}</span>
      <span>修改日期：{{artical.updatedAt}}</span>
      <!--<span>校验值：{{md5}}</span>-->
      <span>
        <a [routerLink]="['/blogs/edit-blog', {'objectId':artical.objectId}]">EDIT</a>
      </span>
    </md-card-subtitle>
    <md-card-title>{{artical.name}}</md-card-title>
    <md-card-content>
      <div class="artical_content">
        <div [innerHTML]="artical.content | blog:artical.contentType"></div>
      </div>
    </md-card-content>
  </md-card>
</div>

